html {
    margin: 0 auto;
    max-width: 420px;
}

body {
    /* whatever you want */
    margin: 0 auto;
    max-width: 420px;
    background-color: grey !important
}


/*.ant-popover-inner-content{*/
/*    !*max-width:  !important;*!*/
/*}*/
